services:
  webapp:
    container_name: webapp-dev
    build:
      context: .
      dockerfile: Dockerfile
      target: development-dependencies-env
    command: sh -c "bun i && bun dev -- --host --port 5173"
    depends_on:
      db:
        condition: service_healthy
    environment:
      - NODE_ENV=development
      - DATABASE_URL=postgres://app:app@db:5432/app
    volumes:
      - .:/app
    ports:
      - "5173:5173"

  db:
    container_name: db-dev
    image: postgres:18
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: app
    volumes:
      - db_data:/var/lib/postgresql
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  db_data:
